---
interface Props {
  href: string;
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted" | "muted";
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "px-5 py-2.5",
  md: "px-4 py-2",
};

const styles = {
  outline: "border-2 border-black bg-white text-black hover:bg-gray-100",
  primary: "border-2 border-transparent bg-black text-white hover:bg-gray-800",
  inverted: "border-2 border-transparent bg-white text-black hover:bg-gray-100",
  muted: "border-2 border-transparent bg-gray-100 text-black hover:bg-gray-200",
};
---

<a
  href={href}
  {...rest}
  class:list={[
    "rounded-md text-center font-mono text-xs uppercase tracking-[0.16em] transition focus-visible:ring-2 ring-offset-2 ring-gray-200",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
>
  <slot />
</a>
